<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>LOGBACK %d{HH:mm} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="VOID" class="ch.qos.logback.core.helpers.NOPAppender">
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="springfox">
        <appender-ref ref="VOID"/>
    </logger>
</configuration>